
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {

    font-family: Arial, sans-serif;
    margin: 20px;
    font-family: sans-serif;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 40px;
    background-color: #ddd;
    margin-bottom: 20px;
}

h1{
    color:black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}
label {
    font-size: 20px;
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}
#profilePicture{
    border:2px solid black;
    padding: 8px;
}
.profilePicture{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 50%;
    
}
input[type="file"] {
    padding: 0;
  }
input {
    width: 80%;
    height: 30px;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(rgb(166, 151, 151), rgb(0, 0, 0), rgb(24, 24, 46), alpha);
}
input:hover{
    background-color: rgb(197, 166, 166);
}
.heading{
    display: inline;
    background-color: rgb(181, 172, 172);
    font-size: 2rem;
  }
  .heading:hover{
     background-color: #996e8a;
     color: aliceblue;
  }
  .heading_1{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin:auto;
    background-color: rgb(181, 172, 172);
    border-radius: 5px;
    padding: 10px; 
    
  }
  .heading_2{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin:auto;
    background-color: rgb(181, 172, 172);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px; 
    margin-top: -10px;
    
  }
  .para { 
    
    color: #292f2f;
    font-size: 24px;
    margin-top: 20px;                                                                                                                      
    
  }
  
  .para:hover {
    
    background-color: #3d25de;
    color: white;
  } 
textarea{
    width: 80%;
}
textarea:hover{
    background-color: rgb(197, 166, 166);
}
button {
    padding: 10px 20px;
    background-color: #d597dd;
    color: rgb(10, 8, 8);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #790ed6;
    color: white;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
}

#resume {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    display:none;
    margin: auto;
   
    background-color: #ddd;
    border: 1px solid #9cbdc3;
    padding: 40px;
    max-width: 600px;
   
 
}
img{
    display: none;
    border-radius: 50%;
    padding-top: 10px;
    object-fit: cover;
}